<section id="bio" class="majorSection slideMeIn">
    <h2>Bio</h2>

    <div id="bioSubContainer">
        <div id="bioText">
            <p>
                On m’a mis face à un Amstrad CPC 464 quand j’étais petit, depuis j’ai pris quelques centimètres et
                compétences
                informatiques. Suffisamment pour faire de la maintenance dans ce domaine pendant 15 ans.
            </p>

            <p>
                Pendant toutes ces années, j’ai découvert les bienfaits de la création de documentation; surtout lors de
                mes
                déplacements à l’étranger. Arrive un moment où les Google Docs et les tableurs ne suffisent plus. Pour
                faire
                mieux, plus lisible, plus flexible, plus pratique; il faut savoir coder.
            </p>

            <p>
                J’ai choisi de poser mes valises et me reconvertir grâce à la formation bac+2
                <a class="textLinkEffect" href="https://cefii.fr/" target="_blank">Développeur web et web mobile</a> avec le
                CEFii d'Angers.
            </p>

            <p>
                Éternel curieux, j’ai pris le temps d’approfondir certains sujets avant de poursuivre mon parcours.
            </p>

            <p>
                Je recherche une entreprise dans le cadre de la formation bac+4 en alternance
                <span class="textLinkEffect" id="wwwModalShowTriggerBio">Concepteur développeur d’applications</span> avec
                la 3W Academy.
            </p>
        </div>

        <div id="bioApproach">
            <p>Mon approche:</p>

            <ul>
                <li>J’essaie toujours de faire les choses sérieusement</li>
                <li>Je me prends rarement au sérieux</li>
                <li>Savoir dire “Je ne suis pas sûr” et “Je ne sais pas" est une qualité</li>
                <li>Si on ne sort pas des sentiers battus, si on ne fait pas d’erreurs, on n'apprend pas réellement</li>
                <li>Le monde fourmille de détails et de subtilités longs à apprendre et rapide à oublier</li>
                <li>Il est important de noter ces détails quelque part</li>
                <li>Le web regorge de concepts, paradigmes, langages, librairies, frameworks et outils</li>
                <li>Ceci rend le développement web à la fois passionnant et terrifiant</li>
                <li>Vous trouvez la phrase précédente parfaitement masochiste? Vous avez probablement raison</li>
            </ul>
        </div>
    </div>

    <div id="bioEnd">
        <p>
            Si vous avez une passion pour les dates, les noms d’entreprises et autres joyeusetés, je vous invite à:
        </p>
        <a href="./DL/CV Gautier Le Hir - Web dev fullstack - Alternance.pdf" download>
            <button>
                <span>Télécharger mon CV</span>
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g stroke-width="0"></g>
                    <g stroke-linecap="round" stroke-linejoin="round"></g>
                    <g>
                        <path
                            d="M12 3a1 1 0 0 1 1 1v9.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L11 13.586V4a1 1 0 0 1 1-1Z"
                            fill="currentColor"></path>
                        <path
                            d="M6 17a1 1 0 1 0-2 0v.6C4 19.482 5.518 21 7.4 21h9.2c1.882 0 3.4-1.518 3.4-3.4V17a1 1 0 1 0-2 0v.6c0 .778-.622 1.4-1.4 1.4H7.4c-.778 0-1.4-.622-1.4-1.4V17Z"
                            fill="currentColor"></path>
                    </g>
                </svg>
            </button>
        </a>
    </div>
</section>