<section id="hook" class="majorSection">
    <div id="nameBlock">
        <p>Bonjour, ici je suis censé écrire:</p>
        <div id="myBigName">MON NOM EN TRÈS GRAND</div>
        <p>Mais je préfère écrire
            <a class="myLinkedinLink textLinkEffect" href="https://www.linkedin.com/in/gautier-le-hir-78796515b/" target="_blank" title="LinkedIn">Gautier Le Hir</a> avec une taille normale.
        </p>
    </div>

    <figure id="portrait">
        <img src="./img/png/pixel_portrait_cropped.png" alt="Pixel Portrait">
    </figure>

    <div id="iAmBlock">
        <p>Il paraîtrait que je suis:</p>
        <div id="iAmText" class="iAmFullStack iAmFullStackReset">DÉVELOPPEUR FULLSTACK</div>
    </div>
</section>