<section id="hook" class="majorSection">
    <div id="nameBlock">
        <p>Bonjour, ici je suis censé écrire:</p>
        <div id="myBigName">MON NOM EN TRÈS GRAND</div>
        <p>Mais je préfère écrire
            <a class="myLinkedinLink textLinkEffect" href="https://www.linkedin.com/in/gautier-le-hir-78796515b/" target="_blank" title="LinkedIn">Gautier Le Hir</a> avec une taille normale.
        </p>
    </div>

    <figure id="portrait">
        <img src="./img/webP/pixel_portrait_cropped.webp" alt="Pixel Portrait">
    </figure>

    <div id="iAmBlock">
        <p>Il paraîtrait que je suis:</p>
        <div id="iAmText" class="iAmFullStack iAmFullStackReset">DÉVELOPPEUR FULLSTACK</div>
    </div>

    <div id="makeItQuick">
        <h3 id="quickHeader">Si vous êtes particulièrement pressé, voici l’essentiel à retenir :</h3>

        <p id="quickDescr">Afin de poursuivre ma reconversion, je suis à la recherche d’une entreprise pour une formation Bac+4 en alternance <span class="textLinkEffect" id="wwwModalShowTriggerHook">Concepteur développeur d’applications</span> d’une durée d’un à deux ans dans la région Nantaise.</p>

        <div id="badgesStore">
            <span class="quickBadge persoBadge">Développeur web et web mobile diplômé</span>
            <span class="quickBadge persoBadge">Bilingue Anglais</span>
            <span class="quickBadge persoBadge">42 ans</span>
            <span class="quickBadge persoBadge">Nantes</span>
            <span class="quickBadge frontBadge">HTML</span>
            <span class="quickBadge frontBadge">CSS</span>
            <span class="quickBadge frontBadge">JavaScript</span>
            <span class="quickBadge frontBadge">TypeScript</span>
            <span class="quickBadge backBadge">PHP</span>
            <span class="quickBadge backBadge">MySQL</span>
            <span class="quickBadge envBadge">VS Code</span>
            <span class="quickBadge envBadge">Windows</span>
            <span class="quickBadge envBadge">Linux</span>
            <span class="quickBadge envBadge">Apache</span>
            <a  class="cvBadge" href="./DL/CV Gautier Le Hir - Web dev fullstack - Alternance.pdf" download>
                <button>
                    <span>Télécharger mon CV</span>
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <path
                                d="M12 3a1 1 0 0 1 1 1v9.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L11 13.586V4a1 1 0 0 1 1-1Z"
                                fill="currentColor"></path>
                            <path
                                d="M6 17a1 1 0 1 0-2 0v.6C4 19.482 5.518 21 7.4 21h9.2c1.882 0 3.4-1.518 3.4-3.4V17a1 1 0 1 0-2 0v.6c0 .778-.622 1.4-1.4 1.4H7.4c-.778 0-1.4-.622-1.4-1.4V17Z"
                                fill="currentColor"></path>
                        </g>
                    </svg>
                </button>
            </a>
        </div>

        <p id="quickFollowUp">Et si vous êtes un peu moins pressé, le reste de cette page est à votre disposition. Bonne visite.</p>

    </div>
</section>