div#sideMenu {
    height: 100%;                           /* 100% Full-height */
    width: 200px;                           /* 0 width - change this with JavaScript */
    position: fixed;                        /* Stay in place */
    z-index: 20;                            /* Stay on top */
    top: 0;
    right: -200px;
    background-color: var(--sideMenu-bg-color);
    backdrop-filter: blur(5px);
    overflow-x: hidden;                     /* Disable horizontal scroll */
    transition: right 500ms ease-in-out;    /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-flow: column nowrap;
    gap: 35px;
    padding: 60px 20px;


    & > :not(.desktopOnly) {
        display: none;
    }

    & > a.cvDL {
        button {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            border: none;
            padding: 0;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }

            svg {
                transform: translateY(-1px);
            }
        }
    }


    // comportement au hover
    a,
    a * {
        color: var(--text-lightest-color);
        transition: color 750ms;
    }

    a:hover,
    a:hover * {
        cursor: pointer;
        color: var(--link-hover-color);
    }
}