    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Je m’appelle Gautier Le Hir et je suis développeur fullstack">
    <meta name="description" content="web dev developer software engineer fullstack react angular laravel symfony alternance kerdapp">
    <link rel="icon" type="image/png" href="img/png/favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="css/font_termi.css">
    <link rel="stylesheet" type="text/css" href="css/font_roboto.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Gautier Le Hir - Portfolio</title>
